.call-friend-root-element {
    width: 100%;
}

/* .friends-answer-class {
    width: 100%;
    text-align: right;
}

.friends-answer-class-mobile {
    width: 100%;
} */

.friend-answer {
    background-color: white;
    width: 100%;
    text-align: center;
}