.call-friend-joker-root-element,
.audience-joker-root-element {
    width: 100%;   
    text-align: center; 
}

.call-friend-button, 
.audience-button-help,
.fifty-fifty-button-joker {
    background: black;
    color: white;
    border: 3px solid blue;
    border-radius: 50%;
    width: 90%;
    padding: .5rem;
    cursor: pointer;
}
.audience-button-help {
    margin-left: -1rem;
}

.fifty-fifty-button-joker {
    padding: 1rem;
}

.call-friend-button {
    margin-left: -2rem;
}

.answer-paragraph {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}