.questions-root-element {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.question-and-answers-classes {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.question-class {
    width: 90%;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 20px;
}

.answers-class {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.answer-button {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.loading-message {
    color: white;
    text-align: center;
}

.next-question-button {
    margin-top: .5rem;
    background: none;
    border: 1px solid white;
    color: white;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
}

.jokers-class, .jokers-class-mobile  {
    width: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}


.jokers-class-mobile {
    width: 90%;
}
